

/*Fonts*/
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  

/*Navigation*/



nav.navmenu{
    display: flex;
    justify-content: center;
}
nav.navmenu ul{
    list-style-type:none ;
}
nav.navmenu ul li{
    display: inline;
}

nav.navmenu a{
    color:black;
    text-decoration: none;
    background-color: peachpuff;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;

}
nav.navmenu a:hover{
    color:black;
    text-decoration: underline;
    background-color: rgb(170, 147, 127);
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;

}

/*Header*/
header h1{
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
header {
    background-color: #68BBE3;
}

/*footer*/
footer{
    background-color: #68BBE3;
}
footer p{
font-family: "PT Serif", serif;
}
footer a{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

/*Aside*/


aside{
    background-color: #ffff99
}

p#sk1{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p#Skills{
    font-weight: bold;
    font-size: 25px;
}

h3{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 200px;

}